<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48716569267-jdna4ds7ucnngj0i6r77u33sdqcgdisv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48716569267-jdna4ds7ucnngj0i6r77u33sdqcgdisv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>48716569267-0u3ri31s34c5jm28drai0hkjhg399006.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXEgPPXuGlbZwUE2nUiXLSHc-K5AH02gA</string>
	<key>GCM_SENDER_ID</key>
	<string>48716569267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.digitrends.etibb</string>
	<key>PROJECT_ID</key>
	<string>etibb-20b36</string>
	<key>STORAGE_BUCKET</key>
	<string>etibb-20b36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48716569267:ios:25008199b484ac32f22ec6</string>
	<key>DATABASE_URL</key>
	<string>https://etibb-20b36-default-rtdb.firebaseio.com</string>
</dict>
</plist>