<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VSS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>33DD0AA4BD22BC5AC2981DB3A31E84F3665B2667</string>
				<key>dateExpires</key>
				<string>28/02/2021</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33DD0AA4BD22BC5AC2981DB3A31E84F3665B2667</string>
						<key>dateExpires</key>
						<string>28/02/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>6QV29AD766.org.vss.com.OneSignalNotificationServiceExtensionTest</string>
						<key>com.apple.developer.team-identifier</key>
						<string>6QV29AD766</string>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>6QV29AD766.org.vss.com.OneSignalNotificationServiceExtensionTest</string>
						</array>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>bcf8cf1e-ade0-4952-b5e2-6f9275594edd</string>
						<key>name</key>
						<string>onesignal</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6QV29AD766</string>
						<key>name</key>
						<string>Jennifer Lapoint</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6QV29AD766.org.vss.com</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6QV29AD766</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>VSS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1911d2a5-fcce-497e-993c-d38ac377d08d</string>
				<key>name</key>
				<string>Dev-Pro</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6QV29AD766</string>
				<key>name</key>
				<string>Jennifer Lapoint</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
